<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>[APP_NAME]</title>

    <link href="//Microsoft.WinJS.1.0/css/ui-dark.css" rel="stylesheet" />
    <script src="//Microsoft.WinJS.1.0/js/base.js"></script>
    <script src="//Microsoft.WinJS.1.0/js/ui.js"></script>

    <div id="haxe:jeash" style="background-color:#121212; width:[WIDTH]px; height:[HEIGHT]px" data-framerate="60"></div>
    <script>function winParameters() { return {}; }</script>
    <script id="haxe:jeash:script" src="[APP_NAME].js"></script>
</head>
<body style="margin:0px;padding:0px;background-color:#121212;"></body>
</html>